<section id="contact" class="contact">
  <div class="container">
    <div class="contact-inner" appReveal>
      <h1 class="section-title">Contact Me</h1>
      <p class="lede">
        Do you have an interesting project that matches my skill set? Let's
        talk!
      </p>

      <ul class="channels">
        <li>
          <a class="channel-link" href="mailto:flyrehan786@gmail.com">
            flyrehan786&#64;gmail.com
          </a>
        </li>
        <li>
          <a class="channel-link" href="tel:+923157413555">
            +92 315 7413555
          </a>
        </li>
        <li>
          <a
            class="channel-link"
            href="https://github.com/flyrehan786"
            target="_blank"
            rel="noopener"
          >
            github.com/flyrehan786
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
